.footer {
  background-color: #2e2f42;
  padding: 100px 0;
  align-items: center;
}

.footer-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer-logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  margin-bottom: 16px;
}

.accent {
  color: #4d5ae5;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: #f4f4fd;
}

.right.footer-text {
  font-weight: 500;
  color: #ffffff;
}

.footer-left {
  width: 264px;
  margin-right: 120px;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  width: 208px;
}

.footer .socials {
  gap: 16px;
}

.footer .socials-link:hover,
.footer .socials-link:focus {
  background-color: #31d0aa;
}

.footer-form-container {
  margin-left: auto;
}

.footer-form {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.form-send-button {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 8px 24px;
  max-width: 165px;
  width: 165px;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-send-button:hover,
.form-send-button:focus {
  background-color: #31d0aa;
}

.form-send-button.right.footer-text {
  letter-spacing: 0.04em;
}

.footer-input {
  background-color: inherit;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 8px 16px;
  width: 264px;
  height: 40px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #fff;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #fff;
}

.footer-input:focus {
  border-color: #31d0aa;
}

.form-header {
  margin-bottom: 16px;
}
