.team {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-cards-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.team-member {
  max-width: 264px;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-member-description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  padding: 32px 16px;
}

.team-member-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}

.team-member-role {
  line-height: 1.5;
  text-align: center;
  color: #434455;
}

.team .socials {
  gap: 24px;
}

.team .socials-link:hover,
.team .socials-link:focus {
  background-color: #404bbf;
}

@media (min-width: 768px) {
  .team-cards-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
  }

  .team-member {
    flex-basis: calc((100% - 24px) / 2);
    width: calc((100% - 24px) / 2);
  }
}

@media (min-width: 1158px) {
  .team-cards-wrapper {
    flex-wrap: nowrap;
    gap: 24px;
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
  }

  .team-member {
    flex-basis: calc((100% - 72px) / 4);
    width: calc((100% - 72px) / 4);
  }

  .team {
    padding: 120px 0;
  }
}
